.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 10px;
  text-align: center;
  background-color: #ccc;
}

.menu {
  &__list {
    display: flex;
    align-items: center;

    > * {
      &:not(:last-child) {
        margin-right: 5rem;
      }
    }
  }

  &__link {
    color: #000;
  }
}