.footer {
  position: relative;
  background: #ccc;
  text-align: center;
  padding: 20px;
}

.top-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);

  &__icon {
    font-size: 2rem;
    color: #000;
    pointer-events: none;
  }
}
